header {
    background: #0a0b0d;
    border-bottom: solid #050506;
}   

header::after {
    content: "";
    display: table;
    clear: both;
}

nav {
    float: right;
}

.logo {
    height: 65px;
    width: 175px;
    margin-top: 5px;
    float: left;
}

.headContainer {
    width: 90%;
    margin: 0 auto;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin: 0 50px 0 20px;
    padding-top: 30px;

    position: relative;
}

nav a {
    color: #dbcba0;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

nav a:hover {
    color: #ece5cf;
}

nav a::before {
    content: "";
    display: block;
    height: 5px;
    background-color: #dbcba0;

    position: absolute;
    width: 0%;
    top: 0; 

    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}