img {
    margin: 10px;
}

#title {
    font-family: #fbf3f3;
    padding: 20px 50px 20px 50px;
    background-color: #413839;
    border: solid #0C090A;
    border-radius: 25px;
}

table {
    width: 80%;
}





::-webkit-scrollbar {
    width: 1em;
}

::-webkit-scrollbar-track {
    background: #15181a;
}

::-webkit-scrollbar-thumb {
    background: #090b0c;
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
    background: #020303;
}